<div class="type-c-continue">
  <div class="type-c-continue__top-band">
    <div class="type-c-continue__header">
      <div class="type-c-continue__header-left">
        <div class="type-c-continue__brand">
          <div class="type-c-continue__brand-logo">
            <img src="assets/gpsholding.png" alt="GPS Group Holding" />
          </div>
          <div class="type-c-continue__brand-name">{{ section.brand_name }}</div>
        </div>
      </div>
      <div class="type-c-continue__header-right">
        <div class="type-c-continue__context-right">{{ section.context_right }}</div>
      </div>
    </div>
  </div>

  <div class="type-c-continue__page">
    <div class="type-c-continue__left-band"></div>

    <div class="type-c-continue__content">
      <div class="type-c-continue__subheading">{{ section.subheading }}</div>

      <div class="type-c-continue__body">
        <div class="type-c-continue__body-left">
          <div class="type-c-continue__body-left-inner">{{ section.body_left | safe }}</div>
        </div>

        {% if section.sidebar_items %}
          <div class="type-c-continue__sidebar">
            <div class="type-c-continue__sidebar-inner">
              {% for item in section.sidebar_items %}
                <div class="sidebar-item">
                  <div class="sidebar-item__title">{{ item.title }}</div>
                  <div class="sidebar-item__text">{{ item.text }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="type-c-continue__footer">
      <div class="type-c-continue__footer-line"></div>
      <div class="type-c-continue__footer-row">
        <div class="type-c-continue__footer-left">{{ section.footer_left }}</div>
        <div class="type-c-continue__page-number">
          <div class="type-c-continue__page-number-text">{{ section.page_number }}</div>
          <div class="type-c-continue__page-number-underline"></div>
        </div>
      </div>
    </div>
  </div>
</div>
